video.customComicSearchVideo {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: -99999;
    object-fit: cover;
}

.bg-canvas {
    position: fixed;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: -9999;
}